body{
    background-image:url(bg.webp);
    font-family: 'Bree Serif', serif;
    }

.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #e4caa9;
    box-shadow: 5px 5px 50px 50px rgb(175, 174, 193) ;
    border-radius: 4rem;
    margin-left: 33%;
    margin-top: 5px;
    animation: aniBg 4s linear infinite;
  
 }

 @keyframes aniBg {
    100%{
        filter: hue-rotate(360deg);
    }
}

input{
    width: 270px;
    padding: 8px;
    border: none;
    font-size: 19px;
 }
 
button{
     width: 60px;
     height: 41px;
     background-color: rgba(128, 128, 128, 0.524);
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     font-size: 19px;
}
  

 .text ul{
    position: relative;
    background-color: rgba(128, 128, 128, 0.524);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }
